body {
    background-color: #ffdc9c;
    font-family: 'Luckiest Guy', cursive;
}

#game {
    width: 600px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #89CFF0;
}

#title {
    color: #fa7b71;
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#text-score {
    text-align: center;
}

#score {
    text-align: center;

}

#kitty {
    background-image: url(img/kitty-outlined.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
}

#aeroplane {
    background-image: url(img/aeroplane-outlined.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: relative;
    top: 175px;
    left: 550px;
}


/* Animations */
@keyframes aeroplane {
    0%{left: 550px;}
    100%{left: -50px;}
}

@keyframes jump {
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}

.jump-animation {
    animation: jump 0.5s;
}

.aeroplane-animation {
    animation: aeroplane 1.33s infinite;
}

#pressbtn {
    text-align: center;
    font-size: 30px;
    color: black;
}


